<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="filename">target/test.log</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
      <filters>
        <MarkerFilter marker="ICAP" onMatch="DENY" onMismatch="ACCEPT"/>
      </filters>
    </Console>
    <RollingRandomAccessFile name="File" fileName="${filename}"
    	filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="%m%n"/>
      <filters>
        <MarkerFilter marker="ICAP" onMatch="ACCEPT" onMismatch="DENY"/>
      </filters>
      <Policies>
        <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Logger name="com.reuters.rfa" level="warn"/>
    <Logger name="com.uptyc.IcapAdapter.Consumer" level="info">
      <AppenderRef ref="File"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
